/Frontend/node_modules
/Backend/node_modules
/Frontend/dist
/Frontend/.editorconfig
/Frontend/.tmp
/Frontend/.sass-cache
/Frontend/bower_components
Frontend/.DS_Store
.DS_Store
Frontend/bower_components/
/Frontend/bower_components/
